/*

!.gitignore
!.gitmodules

# Submodules
!/nvim

# Dirs
!/bash-config
!/kitty
!/lazygit
!/mpv
!/neovide
!/pipewire
!/rog
!/speech-dispatcher
!/spicetify
!/tmux
/tmux/plugins
!/zsh-config
!/yazi
/yazi/plugins
/yazi/flavors

# Files
!/spotify-launcher.conf
!/vivaldi-stable.conf
