/*

!.gitignore
!.gitmodules

# Submodules
!/nvim
!/zsh-config

# Dirs
!/bash-config
!/kitty
!/lazygit
!/MangoHud
!/mpris-discord-rpc
!/mpv
!/neovide
!/pipewire
!/rog
!/speech-dispatcher
!/spicetify
!/tmux
/tmux/plugins
!/yazi
/yazi/plugins
/yazi/flavors

# Files
!/spotify-launcher.conf
!/vivaldi-stable.conf
