/*

!.gitignore
!.gitmodules

# Submodules
!/nvim
!/zsh-config

# Dirs
!/git
!/kitty
kitty/neighboring_window.py
kitty/relative_resize.py
kitty/split_window.py
!/lazygit
!/MangoHud
!/mpd
/mpd/database
/mpd/playlists/*
!/mpv
!/music-discord-rpc
!/neovide
!/pipewire
!/rmpc
!/rog
!/speech-dispatcher
!/spicetify
!/tmux
/tmux/plugins
!/yazi
!/zsh-abbr

# Files
!/spotify-launcher.conf
!/vivaldi-stable.conf
